html,
body {
  height: 100%;
}

.nav-logo {
    height: 10vmin;
    pointer-events: none;
  }

  .nav-pila{
    background-color: #212529;
    min-height: calc(100vh - 56px);
  }

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.title {
  display: inline-block;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
