.universityForms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
  
.universityForm {
    display: flex;
    flex-direction:column;
    width: 370px
}
  
  .studentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35rem
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
  }

  
  .button{
    display: flex;
    flex-direction: column;
    width: 62rem;
    align-items: flex-end
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media only screen and (max-width: 767px) {
    /* For mobile phones: */
    [class*="container"] {
      grid-template-columns: 1fr;
    }
  }


  
  .selector {
    width: 560px
  }