.universityForms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly 
}
  
.universityForm {
    display: flex;
    flex-direction:column;
    width: 370px
}
  
  .studentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35rem
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
  }

  
  .button{
    display: flex;
    flex-direction: column;
    width: 62rem;
    align-items: flex-end
  }
  
  